body {
  background-color: #dff6ff;
}
.logo-img {
  height: 50%;
  width: 100%;
  margin: auto;
}
.top {
  margin: 2% 42.5%;
}
.top-button {
  margin-top: 5%;
}
.login-form {
  margin: auto;
  padding-right: 2%;
  padding-left: 2%;
  padding-top: 5%;
  padding-bottom: 10%;
  height: 500px;
  width: 400px;
  background-color: white;
  border-radius: 5%;
}
.form-check-label {
  margin-right: 35%;
}
.form-check {
  font-size: 13px;
}
.form-label {
  margin-bottom: 5px;
}
.btn {
  padding: 1% 40%;
}
.toggle {
  --width: 150px;
  --height: calc(var(--width) / 3);
  margin: 5% 20%;
  position: relative;
  display: inline-block;
  width: var(--width);
  height: var(--height);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  border-radius: var(--height);
  cursor: pointer;
}

.toggle input {
  display: none;
}

.toggle .slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: var(--height);
  background-color: #ccc;

  transition: all 0.4s ease-in-out;
}

.toggle input:checked + .slider {
  background-color: #2196f3;
}

.toggle input:checked + .slider::before {
  transform: translateX(calc(var(--width) - var(--height)));
}

.toggle .labels {
  position: absolute;
  top: 8px;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 20px;
  font-family: sans-serif;
  transition: all 0.4s ease-in-out;
}

.toggle .labels::after {
  content: attr(data-off);
  position: absolute;
  right: 5px;
  color: #4d4d4d;
  opacity: 1;
  transition: all 0.4s ease-in-out;
}

.toggle .labels::before {
  content: attr(data-on);
  position: absolute;
  left: 5px;
  color: #ffffff;
  opacity: 0;
  transition: all 0.4s ease-in-out;
  margin: auto;
}

.toggle input:checked ~ .labels::after {
  opacity: 0;
}

.toggle input:checked ~ .labels::before {
  opacity: 1;
}
.ema {
  margin-bottom: 2px;
}
